
/*基本*/
.flex{display:flex;border: 1px solid #999;}
.boxA{background-color: #F00;}
.boxB{background-color: #0F0;}
.boxC{background-color: #00F;}
.boxD{background-color: #F0F;}

.flex--min{display: flex; border: 3px solid #333; width: 400px;}
.flex--min li:nth-child(1){flex: 0 0 50px; background-color: #fc7;}
.flex--min li:nth-child(2){flex: 0 0 100px; background-color: #f00;}
.flex--min li:nth-child(3){flex: 0 0 150px; background-color: #58a;}
.flex--min li:nth-child(4){flex: 0 0 200px; background-color: #6be;}

.flex--over{display: flex; border: 3px solid #333; width: 1000px;}
.flex--over li:nth-child(1){flex: 0 0 50px; background-color: #fc7;}
.flex--over li:nth-child(2){flex: 0 0 100px; background-color: #f00;}
.flex--over li:nth-child(3){flex: 0 0 150px; background-color: #58a;}
.flex--over li:nth-child(4){flex: 0 0 200px; background-color: #6be;}