@charset "utf-8";




.parent {
  display: grid;
  place-items: center;
  height: 650px;
}

.parent2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
 
.parent2 .child {
  flex: 1 1 150px;
  margin: 5px;
}